<h1><%= current_user.name %>'s Lists</h1>

<ul>
    <% @lists.each do |list| %>
        <li><%= link_to list.name, list_path(list) %> &nbsp;&nbsp;&nbsp; (<%= pluralize(list.incomplete_items.count, 'item') %> pending)</li>
        </li>
    <% end %>
</ul>

<br>
<% if current_page?(action: 'show_urgent') %>
    <strong>Urgent Items</strong> <%= link_to "(Hide)", user_lists_path(current_user) %>
    <br></br>
    <% if @lists.all? {|list| list.urgent_items.empty?} %> 
        (None)        
    <% else %>
        <% @lists.each do |list| %>
            <% if !list.urgent_items.empty? %>
                <strong><%= list.name %></strong><br>
                <ul>
                    <% list.urgent_items.each do |item| %>
                    <li><%= link_to item.name, item_path(item) %></li>
                    <% end %>
                </ul>
            <% end %>
        <% end %>
    <% end %>
<% else %>
    <%= link_to "Show Urgent Items", "/users/#{current_user.id}/lists/show-urgent" %>
<% end %>
<br></br>
<br></br>
<%= link_to "Create New List", new_user_list_path(current_user) %>