<h1><%= @user.name %>'s Lists</h1>

<% if @user.lists.active.empty? %>
    (No active lists)<br>
<% else %>
    <ul>
        <% @lists.active.each do |list| %>
            <li><%= link_to list.name, list_path(list) %> &nbsp;&nbsp;&nbsp; (<%= pluralize(list.items.incomplete.count, 'item') %> pending)</li>
            </li>
        <% end %>
    </ul>
<% end %>

<br>
<% if current_page?("/users/#{@user.id}/lists/show-inactive") %>
    <strong>Inactive Lists</strong> <%= link_to "(Hide)", user_lists_path(@user) %>
    <br>
    <% if @lists.inactive.empty? %>
        (None)        
    <% else %>
        <ul>
        <% @lists.inactive.each do |list| %>
            <li><%= link_to list.name, list_path(list) %> &nbsp;&nbsp;&nbsp; (<%= pluralize(list.items.incomplete.count, 'item') %> pending)</li>
            </li>
        <% end %>
        </ul>
    <% end %>
<% else %>
    <%= link_to "Show Inactive Lists", "/users/#{@user.id}/lists/show-inactive" %>
<% end %>
<br></br>

<% if current_page?("/users/#{@user.id}/lists/show-urgent") %>
    <strong>Urgent Items</strong> <%= link_to "(Hide)", user_lists_path(@user) %>
    <br></br>
    <% if @lists.active.all? {|list| list.items.incomplete.urgent.empty?} %> 
        (None)        
    <% else %>
        <% @lists.active.each do |list| %>
            <% if !list.items.incomplete.urgent.empty? %>
                <strong><%= list.name %></strong><br>
                <ul>
                    <% list.items.incomplete.urgent.each do |item| %>
                    <li><%= link_to item.name, item_path(item) %></li>
                    <% end %>
                </ul>
            <% end %>
        <% end %>
    <% end %>
<% else %>
    <%= link_to "Show Urgent Items", "/users/#{@user.id}/lists/show-urgent" %>
<% end %>
<br></br>

<%= link_to "Create New List", new_user_list_path(@user) %>
<br></br>
<%= link_to "Add New Item", new_item_path %>