<h1>Login</h1>

<%= form_tag sessions_path do %>
    <%= label_tag "Username" %>
    <%= text_field_tag :username %>
    (Note that this field is case sensitive.)
    <br></br>
    <%= label_tag "Password"%>
    <%= password_field_tag :password %>
    <br></br>
    <%= submit_tag "Sign In" %>
<% end %>