<h1>Edit Account Details</h1>

<em>Note: password will not be updated if "New Password" field is blank.</em>
<br></br>
<%= form_for @user do |f| %>
    <%= f.label "Username" %>
    <%= f.text_field :name %>
    <br></br>
    <%= f.label "New Password" %>
    <%= f.password_field :password %>
    <br></br>
    <%= f.label "Current Password (required)" %>
    <%= f.password_field :current_password %>
    <br></br>
    <%= f.submit "Update" %>
<% end %><br>
<br></br>
<%= link_to "Back to My Account", user_path(@user) %>