<h1>Create Account</h1>

<%= form_for @user do |f| %>
    <%= f.label "Username" %>
    <%= f.text_field :name %>
    <br></br>
    <%= f.label "Password" %>
    <%= f.password_field :password %>
    <br></br>
    <%= f.submit "Create Account" %>
<% end %>

<br>
<h4>Or</h4>
<%= button_to "Sign in with Google", "/auth/google", method: "get" %>