<% if @item.complete%>
    <h1 id="completed"><%= @item.name %></h1>
<% else %>
    <h1><%= @item.name %></h1>
<% end %>

<h3><%= "COMPLETE" if @item.complete %></h3>
<h4><%= "URGENT" if @item.urgent %></h4>

<h4>List: <%= link_to @item.list.name, list_path(@item.list) %></h4>

<h4>Description/notes:</h4>
<%= @item.description %>
<br></br>
<br></br>
<%= form_for @item do |f| %>
    <%= f.check_box :complete %>
    <%= f.label "Mark as Complete" %>
    <%= f.submit %>
<% end %>
<br></br>
<%= link_to "Edit Item", edit_item_path(@item) %>

