<!DOCTYPE html>
<html>
  <head>
    <title>Shopping List</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if !flash.empty? %>
      <% flash.each do |name, msg| -%>
          <h3><%= content_tag :div, msg, class: name %></h3>
      <% end -%>
      <hr>
    <% end %>
    <%= yield %>
  </body>
</html>
