<!DOCTYPE html>
<html>
  <head>
    <title>Shopping List</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      <span id="site-name">Shopping List</span>
      <% if logged_in? %>
        <ul>
          <li><%= link_to "Welcome, #{current_user.name}!", user_path(current_user) %></li>
          <li><%= link_to "Log Out", "/logout" %></li>
        </ul>
      <% else %>
        <ul>
          <li><%= link_to "Create Account", new_user_path %></li>
          <li><%= link_to "Log In", "/login" %></li>
        </ul>
      <% end %>
    </div>
    <div id="main">
      <% if !flash.empty? %>
        <% flash.each do |name, msg| -%>
            <h3><%= content_tag :div, simple_format(msg), class: name %></h3>
            <% flash.clear %>
        <% end %>
        <hr>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
